.statistics-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f9fc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  font-size: 24px;
}

.month-dropdown {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.stats-table {
  background-color: #fff3cd;
  padding: 20px;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f1f1f1;
  font-weight: bold;
}

td {
  background-color: #fff;
  color: black;
}

tbody tr:hover {
  background-color: #f1f1f1;
}
