.app-container {
  padding: 20px;
  background-color: #f8f9fa;
  min-height: 100vh;
}

h2 {
  color: #007bff;
  font-weight: bold;
}

.navbar {
  border-radius: 0.25rem;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.collapse .navbar-collapse {
  margin-left: 500px;
}

.nav-link {
  font-size: 1.1rem;
  color: white !important;
}

/* src/App.css */
.nav-link .active {
  font-weight: bold;
  color: #007bff;
}

.nav-link:hover {
  color: #ffd700 !important;
}

.content-area {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.chart-container,
.table-container,
.statistics-container {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.chart-container {
  max-width: 700px;
  margin: 0 auto;
}

.table-container {
  max-width: 1000px;
  margin: 0 auto;
}

.statistics-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.statistics-container h3 {
  font-weight: bold;
  color: #343a40;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

@media (max-width: 768px) {
  .chart-container,
  .table-container,
  .statistics-container {
    padding: 10px;
  }
}
